.container-reset{
    background-color: white;
    width: 350px;
    margin: auto;
    margin-top: 250px;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);


    .header-reset{
        background-color: #39A9B0;
        font-size: 1rem;
        color: white;
        height: 3.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        left: 50%;
        padding-left: 1rem;
    }


    .reset-fields{
        padding: 1.5rem 1.5rem 1rem;
        display: flex;
        flex-flow: column wrap;

        .button-reset{
            margin-top: 2rem;
            background-color: #1E678F;
            color: white;
            border-radius: 5px;
            border-style: none;
            font-size: 14px;
            padding: 0.5rem;
            &:hover{
                cursor: pointer;
                background-color: #1e688fe5;
            }
        }

        .divider{
            width: 100%;
            border: 0.5px solid rgb(188, 184, 184);
        }

        .button-back{
            background-color: #EDF5FA;
            color: #1E678F;
            border-radius: 5px;
            border-style: none;
            font-size: 14px;
            padding: 5px;
            text-align: center;
            &:hover{
                cursor: pointer;
                background-color: #e1f3fe;
                text-decoration: none;
            }
        }
    }
}